.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100lvh;
    width: 100lvw;
}

.mapAndSidebar {
    flex-grow: 1;
    width: 100%;
    flex-direction: row;
    display: flex;
}
