.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100lvh;
    width: 100lvw;
}

.mainContainer {
    flex-grow: 1;
    width: 100%;
    flex-direction: row;
    display: flex;
}

.sidebar {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("assets/1920x1080.png");    
    background-position: 75% top;
    background-size: auto 100%;
    transition: width 0.3s ease;
    overflow: hidden;
    text-wrap: nowrap;
}

.sidebar.open {
    width: 600px;
}

.sidebar.closed {
    width: 0;
}