.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100lvh;
    width: 100lvw;
}

.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background: bisque;
}



.topBar input {
    display: flex;
    flex-grow: 1;
}

.topBar button {
    margin: 10px;
}
.topBar .logo {
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
}

.mapContainer {
    flex-grow: 1;
    width: 100%;
    position: relative;
    overflow: hidden;
}

@keyframes spin {
    from {
        transform: rotate(0deg); /* Starting state: no rotation */
    }
    to {
        transform: rotate(360deg); /* Ending state: full 360-degree rotation */
    }
}

.map {
    position: absolute;
    scale: 2.310;
    animation-name: spin;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}