.route {
    display: flex;
    flex-direction: column;
}

.routeInputs {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 5px 0px;
}

.routeInputs input {
    flex-grow: 1;
}

.routeInputs button {
    margin-inline-start: 5px;
}

.focused {
    box-shadow: 0px 0px 2px 1px red inset;
}

.path {
    margin-top: 10px;
}

.pathStation {
    font-size: 16pt;
    font-weight: bold;
}

.pathList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pathListItem {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.pathListItem::before {
    content: "";
    background-image: url(assets/middle.svg);
    width: 24px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pathListItem:first-child::before {
    background-image: url(assets/start.svg);
}

.pathListItem:last-child::before {
    background-image: url(assets/end.svg);
}

.pathElement {
    display: flex;
    padding-inline-start: 5px;
    flex-direction: column;
    margin: 3px 0px;
}
