@font-face {
    font-family: Overpass;
    src: url("assets/Overpass-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Overpass;
    src: url("assets/Overpass-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: Overpass, sans-serif;
}

:root {
    color-scheme: only light;
    color: black;
    background-color: white;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
}

button,
input {
    border: 0;
    background-color: transparent;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    appearance: none;
    font-size: 16px;
    padding: 3px 7px;
    border-style: solid;
}

button {
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
    background-color: #ccc;
    border-color: transparent;
}

button:hover {
    background-color: #bbb;
}

button:active {
    background-color: #aaa;
}

input {
    background-color: rgba(255, 255, 255, 0.8);
}

table {
    border-collapse: collapse;
    border: 1px solid #646464;
}

td,
th {
    text-align: center;
    padding: 4px 8px;
    border-bottom: 1px solid #646464;
}

thead th {
    background-color: #646464;
    color: white;
}
