.sidebar {
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)),
        url("assets/1920x1080.png");
    background-position: 75% top;
    background-size: auto 100%;
    transition: 0.3s ease width;
    overflow-x: hidden;
    overflow-y: auto;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    z-index: 1;
    border-inline-end: 1px solid rgba(0, 0, 0, 0.5);
    height: 100%;
    box-sizing: content-box;
}

.sidebar.open {
    width: 400px;
}

.sidebar.closed {
    width: 0;
}

.sidebarContainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
