.sidebar {
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)),
        url("assets/1920x1080.png");
    text-overflow: ellipsis;
    position: absolute;
    z-index: 1;
    box-sizing: content-box;
}

.sidebarContainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.sidebarTitle {
    font-size: 1.5em;
    text-overflow: ellipsis;
    border-bottom: 2px solid red;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    margin-bottom: 10px;
}

.sidebarTable {
    width: 100%;
}

@media screen and (orientation: landscape) {
    .sidebar {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        border-inline-end: 1px solid rgba(0, 0, 0, 0.5);
        background-position: 75% top;
        background-size: auto 100%;
        text-wrap: nowrap;
    }

    .sidebar.open {
        width: 400px;
        overflow-x: auto;
        transition:
            width 0.3s ease,
            border-inline-end-width 0.3s step-start;
    }

    .sidebar.closed {
        transition:
            width 0.3s ease,
            border-inline-end-width 0.3s step-end;
        border-inline-end-width: 0;
        width: 0;
    }
}

@media screen and (orientation: portrait) {
    .sidebar {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        background-size: cover;
        background-position: right;
        border-block-end: 1px solid rgba(0, 0, 0, 0.5);
    }

    .sidebar.open {
        height: 40lvh;
        overflow-y: auto;
        transition:
            height 0.3s ease,
            border-block-end-width 0.3s step-start;
    }

    .sidebar.closed {
        height: 0;
        transition:
            height 0.3s ease,
            border-block-end-width 0.3s step-end;
        border-block-end-width: 0;
    }
}
