.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background: #fbfbfb;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.topBarButton {
    margin: 10px;
}

.topBarInput {
    flex: 1;
}

.topBarLogo {
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
}

@media screen and (orientation: portrait) {
    .topBarLogo {
        display: none;
    }
    .topBarInput {
        margin-inline-start: 10px;
    }
}