.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background: #fbfbfb;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.topBar form {
    flex-grow: 1;
}

.topBar input {
    width: 100%;
}

.topBar button {
    margin: 10px;
}

.topBar .logo {
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
}
